html,
body {
    height: 100%;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
}

.playground {
    background-color: white;
    padding: 16px;
}

.playground fieldset {
    display: flex;
    flex-direction: column;
}

.playground label {
    display: flex;
    align-items: center;
    gap: 8px;
}

.playground legend[data-hex]::after {
    content: attr(data-hex);
    padding-left: 2px;
}