html,
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.field {
    display: block;
}

.row {
    display: flex;
}

.row input[type="checkbox"],
.row input[type="radio"] {
    margin: 2px;
}

.score {
    text-align: center;
    font-weight: 60px;
    font-size: 50px;
    color: blue;
    margin-bottom: 20px;
    text-decoration: underline;
}