<table border='1'>
    <tr>
        <th data-sort="district">Округ</th>
        <th data-sort="subject">Субъект</th>
        <th data-sort="name"><i>Город</i></th>
    </tr>
    {{#each items}}
    <tr>
        <td>{{district}}</td>
        <td>{{subject}}</td>
        <td>{{name}}</td>
    </tr>
    {{/each}}
</table>